.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

.history/

.vendor/
./*/vendor/
./*/*/vendor/
./*/*/*/vendor/
./*/*/*/*/vendor/

composer.json
composer.phar
composer.lock